@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-size: 1.4em;
  line-height: 2;
  font-family: syne;
  color: #222;
}

::selection {
  @apply bg-red bg-opacity-50 text-white;
}

.cta {
  @apply inline-block px-9 py-[.65rem] rounded-[1em] text-red bg-white text-[1.05em] transition-all ease-in-out duration-300;
  letter-spacing: .8px;
}

.cta:hover {
  @apply scale-110;
}

h1, h2, h3 {
  @apply font-bold;
  font-family: 'montserrat alternates', sans-serif;
  line-height: 1.5;
}

.back-blur {
  backdrop-filter: blur(15px);
  /* background-color: rgba(0, 0, 0, 0.7); */
}